.wrapper {
  height: 100vh;
  background-image: url("../assets/images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration-color: brown;
}
.card {
  height: 390px;
  width: 500px;
  margin-top: 50px;
  background-color: blueviolet;
  text-underline-position: below;
}
.akan-card {
  height: 410px;
  width: 500px;
  margin-top: 50px;
  background-color: blueviolet;
}
.right {
  height: 100vh;
}
.heading {
  margin-top: 50px;
}

footer {
  background-color: bisque;
  text-align: justify
}
