.wrapper {
  height: 100vh;
  background-image: url("../assets/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.akan-card {
  height: 400px;
  width: 500px;
  margin-top: 50px;
  background-color: blueviolet;
}
.right {
  height: 100vh;
}
.heading {
  margin-top: 50px;
}
footer {
  background-color: #40e0d0;
  text-align: justify
}
